################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/MovieCollection.Auth/MovieCollection.Auth.csproj
